requests
transformers
essentia
librosa
aiohttp
asks
trio
anyio[trio]

faster-whisper @ https://github.com/SYSTRAN/faster-whisper/archive/refs/heads/master.tar.gz


torch==2.3.1
torchaudio==2.3.1

git+https://github.com/WaveGenAI/tagging.git
git+https://github.com/WaveGenAI/lyrics.git

