requests
transformers
essentia
librosa
aiohttp
asks
trio
anyio[trio]
ray
ray[data]
descript-audio-codec

faster-whisper @ https://github.com/SYSTRAN/faster-whisper/archive/refs/heads/master.tar.gz
git+https://github.com/descriptinc/audiotools

torch==2.3.1
torchaudio==2.3.1

git+https://github.com/WaveGenAI/tagging.git
git+https://github.com/WaveGenAI/lyrics.git

